body {
  font-family: Georgia;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row {
  height: 300px;
}

header h1 {
  display: flex;
  width: 100px;
  height: 100px;
  margin: auto;
  color: purple;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: space-evenly;
}

header p {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
