body {
  font-family: Georgia, serif;
  font-weight: 300;
}

header .container {
  padding: 50px 0;
}

header .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  font-color: #8327ce;
  font-size: 36px;
}

header nav {
  display: flex;
  justify-content: space-evenly;
}

header p {
  margin: 10px;
  font-size: 20px;
}

header page-description {
  padding: 30px;
  border: 1px; solid #000;
  text-align: center;
}
